<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付失败</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
    <div style="text-align:center;padding-top:20%">
        <img style="width:100px;height:100px;" src="./libs/img/errtip.png" alt="失败">
<p style="font-weight:900;font-size:15px;color:#666666;">无感支付失败，未获取到聚合支付二维码！</p>
    </div>
</body>
</html>
